<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title>{{document.title}} | {{messages.siteName}}</title>

<!-- FLUID-5639:
github pages serves this 404 document in place of the requested missing
document. Thus we do not know in advance the path to the local
Foundation and CSS files.

Therefore we use absolute links to files to ensure everything is served
properly.

https://issues.fluidproject.org/browse/FLUID-5639 -->

<link rel="icon" type="image/png" href="/images/favico.png" />

<link rel="stylesheet" href="/lib/infusion/src/lib/normalize/css/normalize.css" />
<link rel="stylesheet" href="/lib/foundation/foundation-flex.min.css" />

<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/Enactors.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" />
<link rel="stylesheet" type="text/css" href="/css/docs-template.css" />

<script type="text/javascript" src="/lib/infusion/infusion-all.js"></script>
<script type="text/javascript" src="/lib/foundation/foundation.min.js"></script>
