<h1 class="ignore-for-TOC">{{document.title}}</h1>

<div class="flc-toc-tocContainer docs-template-uio-toc"></div>

<div class="docs-template-articleContent">
    {{{rewriteMdLinks content}}}
</div>

<p class="docs-template-githubLink">
    <a href="{{{getGithubLocation document.relativePath messages.githubDocRoot}}}" rel="nofollow" target="_blank" class="link-external">{{messages.editOnGithub}}</a>
</p>
