@import 'includes/docs-template-mixins';
@import 'includes/site-config';
@import 'includes/category-colours';

html body {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: docs-fonts;
}

.docs-template {
    background-color: docs-body-background;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.docs-template pre {
    white-space: pre-wrap;
}

.docs-template td {
    border: 0.5rem solid table-border-color;
    vertical-align: top;
}

.docs-template .vertical-center {
    display:flex;
    align-items:center;
}

.docs-template-contentArea a:hover {
    transition: backgroundColour 0.15s, background 0.15s, color 0.15s;
}

/* override foundation, so UIO's line-spacing will work */
.docs-template h1, .docs-template h2, .docs-template h3, .docs-template h4,
.docs-template h5, .docs-template h6, .docs-template p, .docs-template dl,
.docs-template table tbody tr td, .docs-template table tr td, .docs-template ul {
   line-height: inherit;
}

.fl-prefsEditor-buttons button:focus,
.docs-template a:focus {
    outline: button-focus;
    text-decoration: none;
}

/* Skip links */
#skip {
    float: left;
    height: 0rem;
}

#skip a {
    color: skip-color;
    background: skip-background;

    &, &:hover, &:visited {
        height: 1px;
        left: -10000px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
        color: skip-hover-color;
        background: skip-hover-background;
    }

    &:active, &:focus {
        height: auto;
        width: auto;
        left: auto;
        border: 0.5rem solid skip-focus-inner-border;
        outline: 0.2rem solid skip-focus-outer-border;
        color: skip-hover-color;
        background: skip-hover-background;
        padding: 1rem;
        z-index: 1;
    }
}

header, footer {
    padding: 0;
    background-color: header-footer-background;
    color: header-footer-color;
    font-family: docs-fonts;

    a {
        color: header-footer-link;
        &:focus {
            outline: header-footer-focus;
            color: header-footer-link;
        }

        &:hover {
           color: header-footer-hover-color;
           background: header-footer-hover-background;
       }
    }
}

header {
    background-color: header-footer-background;

    a {
        text-decoration: none;
        width: 100%;
        display: inline-block;
    }

    h1 {
        color: inherit;
        font-size: 1.4rem;
    }
}

header nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    li {
        margin-left: 0.25rem;
        margin-right: 0.25rem
        flex-grow: 1;
        padding-bottom: 0;
    }

    a, span {
        min-width: 10rem;
        border-top-right-radius:0.8rem;
        border-top-left-radius: 0.8rem;
        display:flex;
        align-items:center;
        padding: 0.3rem 1rem;
        height: 100%;
        color: header-footer-color;
    }

    a:hover {
        transform: translateY(-0.4rem);
        color: header-footer-background;
    }

    a:focus:hover {
        border-radius: 0;
        color: header-footer-background;
    }

    .docs-template-category-active {
        font-weight: bold;
        &:hover.docs-template-category-active span {
            color: #000;
        }
    }
}

footer {
    padding: 2rem 0;
    font-size: 1.1rem;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

.docs-template-logo {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
    padding: 0.3rem;
    color: header-footer-link;
    display: inline-block;

    &:hover {
        background: header-footer-hover-background;
        color: header-footer-hover-color;
    }

    &:focus {
        outline: header-footer-focus;
    }

    h1 {
        display: inline-block;
        margin: 0;
    }
}

/* Main body area - contains sidebar and article, excludes header and footer */
.docs-template-contentArea  {
    color: contentArea-color;
    background: contentArea-background;

    * {
        font-size: 1.2rem;
    }

    h1, h2, h3 {
        font-family: docs-header-font;
    }

    h1 {
        margin-top: 1.5rem;
        font-size: 2.0rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    ul, ol {
        margin: 0 2.5rem;
    }

    li {
        margin: 0.4rem 0 ;
    }

    a {
        color: link-color;
        text-decoration: underline;
        transition: backgroundColour 0.15s, background 0.15s, color 0.15s;
        display:inline-block;

        &:hover {
            color: link-hover-color;
            background: link-hover-background;
        }

        &:hover svg {
            fill: link-hover-color;
        }
    }

    pre code {
        font-weight: normal;
        border: code-block-border;
        border-radius: 0.2rem;
        padding: 0.8rem;
        margin-bottom: 1rem;
    }

    code {
        font-weight: normal;
        color: code-block-color;
        background-color: code-block-background;
        font-size: inherit;
    }

    code a, a code {
        font-size: inherit;
        border-bottom: 0.1rem dotted code-block-link-color;
        color: code-block-link-color;
        background: 0;
    }
}

/* Main Content Area */
.docs-template-hideShow-toggle {
    vertical-align: middle;
    float: right;
    padding: 0.3rem;

    svg {
        width: 1.4rem;
        fill:link-color;
    }

    .docs-template-hideShow-toggle-label {
        min-width: 7rem;
        display: inline-block;
    }
}

// Styles applied when the sidebar is hidden.
.docs-template-sidebar-hidden {
    .docs-template-topics {
        flex-basis: 2%;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        word-break: normal;
    }

    .top-bar-left {
        display: none;
    }
}

.docs-template-githubLink {
    margin-top: 2rem;

    a:before {
        // Github octopus icon.
        display: inline-block;
        vertical-align: bottom;
        font-family: "github";
        content: "\e600";
        font-size: 1.3rem;
        padding-right: 0.5rem;
    }
}

.docs-template-contentArea figure {
    background: figure-background;
    text-align: center;

    em {
        font-weight: bold;
    }

    figcaption, img {
        padding: 1rem;
    }

    figcaption {
        border-top: 0.2rem solid figure-caption-border;
    }

    figcaption a {
        outline: initial;
        color: link-color;
        background: link-background;
        display: inline;
    }

    figcaption a:hover {
        color: link-hover-color;
        background: link-hover-background;
    }

    img {
        margin: 0;
    }

    a {
        display: block;
    }

    a:hover {
        background: figure-background;
        // override the default link hover style.
        outline: 0.2rem solid link-hover-background;
    }
}

.docs-template-404 .docs-template-contentArea {
    width: 100%;
    max-width: none;
    min-height: 30rem;
}

/* Topics list */

// override Foundation styles
.docs-template {
    .title-bar {
        color: topics-item-color;
    }

    .top-bar {
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        background-color: none;
    }

    .top-bar ul {
        background: none;
    }

    .row {
        margin-left: auto;
        margin-right: auto;
    }
}

.docs-template-topics {
    width: 100%;
    display: none;

    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        padding: 0.2rem 0;
        margin: 0.2rem 0;
    }

    .docs-template-topics-active:before {
        content: "\2590";
        display: inline-block;
        margin-right: 0.2rem;
    }

    a {
        display: inline-block;
        color: topics-item-color;
        font-size: 1rem;

        &:hover {
            background: topics-item-hover-background;
            text-decoration: none;
            color: topics-item-hover-color;
        }

        &:focus {
            outline: topics-item-focus-border;
        }
    }

    .docs-template-topics-active {
        color: topics-active-color;
        display: inline-block;
        font-size: 1rem;
    }

    h1 {
        font-family: 'OpenSans-Bold';
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.6rem;
        word-wrap: break-word;
    }

    h2 {
        margin:0;
    }
}

.docs-template-topics-item {
    padding: 0.2rem;
    border: none;
    color: topics-item-color;
    display:inline-block;
    width:100%;
    text-decoration: inherit;
}

.docs-template-topics-button:hover {
    color: topics-item-hover-color;
    background-color: topics-item-hover-background;

    &.docs-template-topics-button:before {
        color: topics-item-hover-color;
    }
}

.docs-template-topics-button:focus {
    outline: topics-item-focus-border;
}

.docs-template-topics-button {
    width:100%;
    height: auto;
    line-height: 2rem;
    text-align: left;
}

.docs-template-topics-button:after {
    display: none;
    visibility: hidden;
}

.docs-template-topics-button:before {
    content: "\2630";
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    color: topics-item-color;
    box-shadow: none;
    background-color: transparent;
}

/* Infusion UIO */
.fl-prefsEditor-separatedPanel {
    padding: 0;

    .fl-prefsEditor-showHide, .fl-prefsEditor-reset {
        font-size: 1.1rem;
        padding-top: 0.5rem;
        height: 2rem;
        margin-bottom: 0.7rem;
    }

    .fl-prefsEditor-showHide {
        min-width: 7rem;
    }

    .fl-panelBar .fl-prefsEditor-buttons {
        margin-right: 2rem;
    }
}

.docs-template-uio-toc {
    background: uio-toc-background;
}

.docs-template-uio-toc ul {
    list-style-type: none;
}

.docs-template-uio-toc li {
    margin: 0.8rem 0;
}

.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset{
    height: 2.5rem;
}
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
    min-width: 13rem;
}

/* Styles for high-contrast themes */
.fl-theme-bw, .fl-theme-wb, .fl-theme-by, .fl-theme-yb, .fl-theme-lgdg {
    a:hover .docs-template-topics-item {
        outline: none !important;
    }
}

.fl-theme-bw {
    contrastTheme(#000, #fff)
}

.fl-theme-by {
    contrastTheme(#000, #ff0)
}

.fl-theme-wb {
    contrastTheme(#fff, #000)
}

.fl-theme-yb {
    contrastTheme(#ff0, #000)
}

.fl-theme-lgdg {
    contrastTheme(#bdbdbb, #555)
}

// Larger screens
@media only screen and (min-width: 40em) {
    .docs-template-contentArea h1 { font-size: 3.0rem; }
    .docs-template-contentArea h2 { font-size: 2.5rem; }
    .docs-template-contentArea h3 { font-size: 1.5rem; }

    .docs-template-logo:before,
    .docs-template .docs-template-header h1 {
        font-size: 2rem;
    }

    .docs-template {
        border-left: site-border;
        border-right: site-border;
    }

    .docs-template-contentArea h1 {
        line-height: 3rem;
        margin-top: 0;
    }

    .docs-template article, .docs-template-contentArea nav {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
    }
}
