/**
Top Level Navigation Colour Styling

Customize these colours so each top level navigation tab has its own colour
scheme.

The order in which the colours are defined should match the order in which
they appear in the site-structure.json file.

For example:

site-structure.json has categories appearing in the following order:
* API
* Tutorials
* Latest News

This will create top navigation tabs in the following order:
1. API
2. Tutorials
3. Latest News

To allow for custom styling based on the category that is active, one of the
following classnames will appear on the <body> element:
* activeCategory-API
* activeCategory-Tutorials
* activeCategory-LatestNews

Note: If the category name in the site-structure.json file contains multiple
words separated by spaces or punctuation, they will be removed and the words will
be merged. Example: a category /// START HERE FINISH THE INSTRUCTIONS
the

The "activeCategory-[category]" classname appears on the <body> element when
the category is active. */

// The order matters - it should be the order in which it appers on the website
categoryColours = {activeCategory-Fruits:   #FFE6C1,
                   activeCategory-Veggies:  #CFE4FF,
                   activeCategory-Desserts: #96C786}

.activeCategory-Fruits {
    applyActiveCategoryColours('activeCategory-Fruits');
}

.activeCategory-Veggies {
    applyActiveCategoryColours('activeCategory-Veggies');
}

.activeCategory-Desserts {
    applyActiveCategoryColours('activeCategory-Desserts');
}
