/* General styling */
docs-fonts ?= "OpenSans-Light", Arial, Helvetica;
docs-header-font ?= "RobotoSlab";
button-focus ?= 0.2rem solid #0000CB;
link-color ?= #0000CB;
link-hover-color ?= #fff;
link-hover-background ?= #0000CB;
site-border ?= 0.1rem solid #ccc; // border on right and left on larger screens.

/* Main Content Area */
docs-body-background ?= #fff;

/* Header and Footer */
header-footer-color ?= #000;
header-footer-background ?= #F1FFEC;
header-footer-link ?= #00444D;
header-footer-hover-color ?= #F1FFEC;
header-footer-hover-background ?= #00444D;
header-footer-focus ?= 0.2rem solid #00444D;

/* Skip Links */
skip-color ?= #00444D;
skip-background ?= #C5E0C5;
skip-focus-outer-border ?= #00444D;
skip-focus-inner-border ?= #C5E0C5;
skip-hover-color ?= #C5E0C5;
skip-hover-background ?= #00444D;

/* Table of Contents Sidebar */
topics-item-color ?= #000;
topics-active-color ?= #000;
topics-item-hover-color ?= #fff;
topics-item-hover-background ?= #000;
topics-item-focus-border ?= 0.2rem solid #000;

/* Article Body area */
contentArea-color ?= #000;
contentArea-background ?= #fff;
figure-caption-border ?= #fff;
figure-background ?= #efefef;

/* Code Blocks */
code-block-background ?= #efefef;
code-block-border ?= 0.1rem dotted #ddd;
code-block-color ?= #000;
code-block-link-color ?= #0000CB;

/* Tables */
table-border-color ?= #e7e7e7;

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "github";
    src: url("../fonts/github-1.eot#iefix") format("embedded-opentype"),
         url("../fonts/github-1.ttf"),
         url("../fonts/github-1.eot");
}
