<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head404}}
    </head>

    <body class="docs-template docs-template-404">

        <div class="docs-template row">

            <!-- Skip Link -->
            <nav id="skip" class="fl-inverted-color">
                <a href="#content" class="docs-template-skip-content">{{messages.skipToContent}}</a>
            </nav>
            <!-- END skip link -->

            {{>header}}

            <div class="docs-template-contentArea small-12">
                <article id="content">
                    {{>content}}
                </article>
            </div>

            {{>footer}}
            {{>scripts}}
        </div>
    </body>
</html>
