<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body class="{{#each siteStructure}}{{#ifEqual category ../document.category}}activeCategory-default activeCategory-{{category}}{{/ifEqual}}{{/each}}">
        <div class="docs-template row">

            <!-- Skip Link -->
            <nav id="skip" class="fl-inverted-color">
                <a href="#topics" class="docs-template-skip-topics">{{messages.skipToTopics}}</a>
                <a href="#content" class="docs-template-skip-content">{{messages.skipToContent}}</a>
            </nav>
            <!-- END skip link -->

            {{>header}}

            <section class="docs-template-contentArea small-12">
                <div class="row">

                    <span id="topics"></span>
                    {{>sidebar}}

                    <article id="content" class="columns">
                        <a class="vertical-center docs-template-hideShow-toggle show-for-medium text-right" href="#" role="button">
                            <span class="docs-template-hideShow-toggle-icon">{{>sidebarIcon}}</span>
                            <span class="docs-template-hideShow-toggle-label">{{messages.hideSidebarLabel}}</span>
                        </a>
                        {{>content}}
                    </article>
                </div>
            </section>

            {{>footer}}
            {{>scripts}}

        </div> <!-- end container -->
    </body>
</html>
